<!DOCTYPE html>
<html>
<head>
  <title>playerbase</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="head" class="container-fluid">
		<div class="row">
			<div class="col-md-1 col-md-offset-11 col-sm-2 col-sm-offset-10 col-xs-3 col-xs-offset-9">
				<div class="navbar-right">
				<ul class="nav nav-pills">
				  <li class="dropdown">
				    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
				      <span class="glyphicon glyphicon-cog icon-size-large"></span>
				      <span class="caret"></span>
				    </a>
				    <ul class="dropdown-menu">
				      <li>Insertar Jugador</li>
				      <li>Configuración</li>
				      <li>About us</li>
				    </ul>
				  </li>
				</ul>
				</div>
			</div>
		</div>
	</div>
	<div id="cuerpo">
		<%= yield %>
	</div>
	<div id="footer" class="footer">
		<div class="container">
			<center>
			    <%= link_to (image_tag('playerbase.png',width: '100')), 'jugador/about_us'  %>
				powered by <a href="http://rubyonrails.org" target="_blank">RoR</a>
			</center>
		</div>
	</div>
</body>
</html>
