<div class="panel-group" id="accordion">
    <% @jugadores_con_distancia.each do |jugador_con_distancia| %>
    <% if !@jugador_consulta.nil? %>
		<!-- Si hay un jugador consulta entonces: -->
    	<% jugador = jugador_con_distancia[0][0] %>
	<% else %>
    	<% jugador = jugador_con_distancia %>
	<% end %>
	  <div class="panel panel-default">
	    <!-- Cabecera del jugador -->
	    <div class="panel-heading">
			<div class="row">
			    <div data-toggle="collapse" data-parent="#accordion" href="#jugador_details_collapsable_<%= jugador.id %>">
			        <div class="col-xs-4">
			        	<% if !@jugador_consulta.nil? %>
							<!-- Si hay un jugador consulta entonces muestro: -->
			        		<strong><%= jugador_con_distancia[1][0] %></strong> -
						<% end %>
			        	<span class="glyphicon glyphicon-user"></span>
			        	<strong><%= jugador.nombre %></strong>
			        </div>
			        <div class="col-xs-2"><%= jugador.habilidad_actual %>
			        	<span class="glyphicon glyphicon-star"></span>
			        </div>
			        <div class="col-xs-2"><%= jugador.pais %></div>
			        <div class="col-xs-2"><%= jugador.edad %> años</div>
				</div>
		        <div class="col-xs-2">
					<div class="row">
						<div class="col-xs-6">
							<!-- Botón para editar este jugador -->
							<%= link_to edit_jugador_path(jugador.id), class: 'btn btn-info btn-xs', data:{toggle:'tooltip', placement:'bottom'}, title: 'Editar!' do %>
							    <span class="glyphicon glyphicon-pencil"></span>
							<% end %>
						</div>
						<div class="col-xs-6">
							<!-- Botón para buscar jugadores similares a éste -->
							<%= link_to jugador_search_by_similarity_id_path(jugador.id), class: 'btn btn-success btn-xs', data:{toggle:'tooltip', placement:'bottom'}, title: 'Similares a...' do %>
							    <span class="glyphicon glyphicon-screenshot"></span>
							<% end %>
						</div>
					</div>
			    </div>
		    </div>
	    </div>
	    <!-- Detalle del jugador -->
	    <div id="jugador_details_collapsable_<%= jugador.id %>" class="panel-collapse collapse">
	      <div class="panel-body">
	        <!-- Renderizo el detalle de los jugadores -->
	        <%= render "show_details", {jugador: jugador} %>
	      </div>
	    </div>
	  </div>
    <% end %>
</div>