<div class="row">
	        	<div class="col-xs-4">
	        		<p>
					  <strong>Club:</strong>
					  <%= jugador.club %>
					</p>

					<p>
					  <strong>Posición:</strong>
					  <%= jugador.posicion %>
					</p>

					<p>
					  <strong>Altura:</strong>
					  <%= jugador.altura %> cm
					</p>

					<p>
					  <strong>Peso:</strong>
					  <%= jugador.peso %> kg
					</p>

					<p>
					  <strong>Forma física natural:</strong>
					  <%= jugador.forma_fisica_natural %>
					</p>

					<p>
					  <strong>Juego sin pelota:</strong>
					  <%= jugador.juego_sin_pelota %>
					</p>

					<p>
					  <strong>Trabajo en equipo:</strong>
					  <%= jugador.trabajo_en_equipo %>
					</p>

					<p>
					  <strong>Porcentaje atajadas:</strong>
					  <%= jugador.porcentaje_atajadas %>
					</p>

					<p>
					  <strong>Pierna derecha:</strong>
					  <%= jugador.pierna_derecha %>
					</p>

					<p>
					  <strong>Pierna izquierda:</strong>
					  <%= jugador.pierna_izquierda %>
					</p>

					<p>
					  <strong>Posicionamiento:</strong>
					  <%= jugador.posicionamiento %>
					</p>

					<p>
					  <strong>Aceleración:</strong>
					  <%= jugador.aceleracion %>
					</p>

					<p>
					  <strong>Agresividad:</strong>
					  <%= jugador.agresividad %>
					</p>

					<p>
					  <strong>Anticipación:</strong>
					  <%= jugador.anticipacion %>
					</p>

					<p>
					  <strong>Concentración:</strong>
					  <%= jugador.concentracion %>
					</p>

					<p>
					  <strong>Determinación:</strong>
					  <%= jugador.determinacion %>
					</p>
	        	</div>
	        	<div class="col-xs-4">
					<p>
					  <strong>Primer toque:</strong>
					  <%= jugador.primer_toque %>
					</p>

					<p>
					  <strong>Agilidad:</strong>
					  <%= jugador.agilidad %>
					</p>

					<p>
					  <strong>Balance:</strong>
					  <%= jugador.balance %>
					</p>

					<p>
					  <strong>Valentía:</strong>
					  <%= jugador.valentia %>
					</p>

					<p>
					  <strong>Compostura:</strong>
					  <%= jugador.compostura %>
					</p>

					<p>
					  <strong>Corners:</strong>
					  <%= jugador.corners %>
					</p>

					<p>
					  <strong>Creatividad:</strong>
					  <%= jugador.creatividad %>
					</p>

					<p>
					  <strong>Centro:</strong>
					  <%= jugador.centro %>
					</p>

					<p>
					  <strong>Decisión:</strong>
					  <%= jugador.decision %>
					</p>

					<p>
					  <strong>Gambeta:</strong>
					  <%= jugador.gambeta %>
					</p>

					<p>
					  <strong>Remate:</strong>
					  <%= jugador.remate %>
					</p>

					<p>
					  <strong>Instinto:</strong>
					  <%= jugador.instinto %>
					</p>

					<p>
					  <strong>Cabezazo:</strong>
					  <%= jugador.cabezazo %>
					</p>

					<p>
					  <strong>Influencia:</strong>
					  <%= jugador.influencia %>
					</p>

					<p>
					  <strong>Tiro lejano:</strong>
					  <%= jugador.tiro_lejano %>
					</p>

					<p>
					  <strong>Pase largo:</strong>
					  <%= jugador.pase_largo %>
					</p>
	        	</div>
	        	<div class="col-xs-4">
					<p>
					  <strong>Salto:</strong>
					  <%= jugador.salto %>
					</p>

					<p>
					  <strong>Marca:</strong>
					  <%= jugador.marca %>
					</p>

					<p>
					  <strong>Velocidad:</strong>
					  <%= jugador.velocidad %>
					</p>

					<p>
					  <strong>Pases:</strong>
					  <%= jugador.pases %>
					</p>

					<p>
					  <strong>Penales:</strong>
					  <%= jugador.penales %>
					</p>

					<p>
					  <strong>Tiros libres:</strong>
					  <%= jugador.tiros_libres %>
					</p>

					<p>
					  <strong>Resistencia:</strong>
					  <%= jugador.resistencia %>
					</p>

					<p>
					  <strong>Fuerza:</strong>
					  <%= jugador.fuerza %>
					</p>

					<p>
					  <strong>Entrada:</strong>
					  <%= jugador.entrada %>
					</p>
					<p>
					  <strong>Técnica:</strong>
					  <%= jugador.tecnica %>
					</p>

					<p>
					  <strong>Sacrificio:</strong>
					  <%= jugador.sacrificio %>
					</p>

					<p>
					  <strong>Fr:</strong>
					  <%= jugador.fr %>
					</p>

					<p>
					  <strong>Ts rating:</strong>
					  <%= jugador.ts_rating %>
					</p>

					<p>
					  <strong>Fs rating:</strong>
					  <%= jugador.fs_rating %>
					</p>

					<p>
					  <strong>Dc rating:</strong>
					  <%= jugador.dc_rating %>
					</p>
	        	</div>
	        </div>
	        <div class="row">
	        	<div class="col-xs-12">
					<strong>Arquero:</strong>
					  <%= jugador.arquero %>
					
					<strong>Libero:</strong>
					  <%= jugador.libero %>
					
					<strong>Lateral derecho:</strong>
					  <%= jugador.lateral_derecho %>
					
					<strong>Defensor central:</strong>
					  <%= jugador.defensor_central %>
					
					<strong>Lateral izquierdo:</strong>
					  <%= jugador.lateral_izquierdo %>
					
					<strong>Carrilero derecho:</strong>
					  <%= jugador.carrilero_derecho %>
					
					<strong>Carrilero izquierdo:</strong>
					  <%= jugador.carrilero_izquierdo %>
					
					<strong>Mediocampista defensivo:</strong>
					  <%= jugador.mediocampista_defensivo %>
					
					<strong>Mediocampista derecho:</strong>
					  <%= jugador.mediocampista_derecho %>
					
					<strong>Mediocampista central:</strong>
					  <%= jugador.mediocampista_central %>
					
					<strong>Mediocampista izquierdo:</strong>
					  <%= jugador.mediocampista_izquierdo %>
					
					<strong>Mediapunta derecho:</strong>
					  <%= jugador.mediapunta_derecho %>
					
					<strong>Mediapunta central:</strong>
					  <%= jugador.mediapunta_central %>
					
					<strong>Mediapunta izquierdo:</strong>
					  <%= jugador.mediapunta_izquierdo %>
					
					<strong>Delantero:</strong>
					  <%= jugador.delantero %>
				</div>
	        </div>