<div class="container">
	<div class="row">
		<div class="col-xs-2">
			<div class="row">
	    		<small>
				  <strong>Club:</strong>
				  <%= jugador.club %>
				</small>
			</div>

			<div class="row">
				<small>
				  <strong>Posición:</strong>
				  <%= jugador.posicion %>
				</small>
			</div>

			<div class="row">
				<small>
				  <strong>Altura:</strong>
				  <%= jugador.altura %> cm
				</small>
			</div>

			<div class="row">
				<small>
				  <strong>Peso:</strong>
				  <%= jugador.peso %> kg
				</small>
			</div>

			<div class="row">
				<small>
				  <strong>Forma física:</strong>
				  <%= jugador.forma_fisica_natural %>
				</small>
			</div>

			<div class="row">
				<small>
				  <strong>Juego sin pelota:</strong>
				  <%= jugador.juego_sin_pelota %>
				</small>
			</div>

			<div class="row">
				<small>
				  <strong>Trabajo en equipo:</strong>
				  <%= jugador.trabajo_en_equipo %>
				</small>
			</div>

			<div class="row">
				<small>
				  <strong>Atajadas:</strong>
				  <%= jugador.porcentaje_atajadas %>%
				</small>
			</div>

			<div class="row">
				<small>
				  <strong>Pierna derecha:</strong>
				  <%= jugador.pierna_derecha %>
				</small>
			</div>

			<div class="row">
				<small>
				  <strong>Pierna izquierda:</strong>
				  <%= jugador.pierna_izquierda %>
				</small>
			</div>

			<div class="row">
				<small>
				  <strong>Posicionamiento:</strong>
				  <%= jugador.posicionamiento %>
				</small>
			</div>
		</div>
		<div class="col-xs-2">
			<div class="row">
				<small>
				  <strong>Aceleración:</strong>
				  <%= jugador.aceleracion %>
				</small>
			</div>

			<div class="row">
				<small>
				  <strong>Agresividad:</strong>
				  <%= jugador.agresividad %>
				</small>
			</div>

			<div class="row">
				<small>
				  <strong>Anticipación:</strong>
				  <%= jugador.anticipacion %>
				</small>
			</div>

			<div class="row">
				<small>
				  <strong>Concentración:</strong>
				  <%= jugador.concentracion %>
				</small>
			</div>

			<div class="row">
				<small>
				  <strong>Determinación:</strong>
				  <%= jugador.determinacion %>
				</small>
			</div>
			<div class="row">
				<small>
				  <strong>1er toque:</strong>
				  <%= jugador.primer_toque %>
				</small>
			</div>

			<div class="row">
				<small>
				  <strong>Agilidad:</strong>
				  <%= jugador.agilidad %>
				</small>
			</div>

			<div class="row">
				<small>
				  <strong>Balance:</strong>
				  <%= jugador.balance %>
				</small>
			</div>

			<div class="row">
				<small>
				  <strong>Valentía:</strong>
				  <%= jugador.valentia %>
				</small>
			</div>

			<div class="row">
				<small>
				  <strong>Compostura:</strong>
				  <%= jugador.compostura %>
				</small>
			</div>

			<div class="row">
				<small>
				  <strong>Corners:</strong>
				  <%= jugador.corners %>
				</small>
			</div>
		</div>
		<div class="col-xs-2">
			<div class="row">
				<small>
				  <strong>Salto:</strong>
				  <%= jugador.salto %>
				</small>
			</div>

			<div class="row">
				<small>
				  <strong>Marca:</strong>
				  <%= jugador.marca %>
				</small>
			</div>

			<div class="row">
				<small>
				  <strong>Velocidad:</strong>
				  <%= jugador.velocidad %>
				</small>
			</div>

			<div class="row">
				<small>
				  <strong>Pases:</strong>
				  <%= jugador.pases %>
				</small>
			</div>

			<div class="row">
				<small>
				  <strong>Penales:</strong>
				  <%= jugador.penales %>
				</small>
			</div>

			<div class="row">
				<small>
				  <strong>Tiros libres:</strong>
				  <%= jugador.tiros_libres %>
				</small>
			</div>

			<div class="row">
				<small>
				  <strong>Resistencia:</strong>
				  <%= jugador.resistencia %>
				</small>
			</div>

			<div class="row">
				<small>
				  <strong>Fuerza:</strong>
				  <%= jugador.fuerza %>
				</small>
			</div>

			<div class="row">
				<small>
				  <strong>Entrada:</strong>
				  <%= jugador.entrada %>
				</small>
			</div>

			<div class="row">
				<small>
				  <strong>Técnica:</strong>
				  <%= jugador.tecnica %>
				</small>
			</div>

			<div class="row">
				<small>
				  <strong>Sacrificio:</strong>
				  <%= jugador.sacrificio %>
				</small>
			</div>
		</div>
		<div class="col-xs-2">
			<div class="row">
				<small>
				  <strong>Creatividad:</strong>
				  <%= jugador.creatividad %>
				</small>
			</div>

			<div class="row">
				<small>
				  <strong>Centro:</strong>
				  <%= jugador.centro %>
				</small>
			</div>

			<div class="row">
				<small>
				  <strong>Decisión:</strong>
				  <%= jugador.decision %>
				</small>
			</div>

			<div class="row">
				<small>
				  <strong>Gambeta:</strong>
				  <%= jugador.gambeta %>
				</small>
			</div>

			<div class="row">
				<small>
				  <strong>Remate:</strong>
				  <%= jugador.remate %>
				</small>
			</div>

			<div class="row">
				<small>
				  <strong>Instinto:</strong>
				  <%= jugador.instinto %>
				</small>
			</div>

			<div class="row">
				<small>
				  <strong>Cabezazo:</strong>
				  <%= jugador.cabezazo %>
				</small>
			</div>

			<div class="row">
				<small>
				  <strong>Influencia:</strong>
				  <%= jugador.influencia %>
				</small>
			</div>

			<div class="row">
				<small>
				  <strong>Tiro lejano:</strong>
				  <%= jugador.tiro_lejano %>
				</small>
			</div>

			<div class="row">
				<small>
				  <strong>Pase largo:</strong>
				  <%= jugador.pase_largo %>
				</small>
			</div>
		</div>
	</div>
    <!-- Posiciones de jugadores -->
    <!-- <div class="row">
    	<div class="col-xs-12">
			<strong>Arquero:</strong>
			  <%= jugador.arquero %>
			
			<strong>Libero:</strong>
			  <%= jugador.libero %>
			
			<strong>Lateral derecho:</strong>
			  <%= jugador.lateral_derecho %>
			
			<strong>Defensor central:</strong>
			  <%= jugador.defensor_central %>
			
			<strong>Lateral izquierdo:</strong>
			  <%= jugador.lateral_izquierdo %>
			
			<strong>Carrilero derecho:</strong>
			  <%= jugador.carrilero_derecho %>
			
			<strong>Carrilero izquierdo:</strong>
			  <%= jugador.carrilero_izquierdo %>
			
			<strong>Mediocampista defensivo:</strong>
			  <%= jugador.mediocampista_defensivo %>
			
			<strong>Mediocampista derecho:</strong>
			  <%= jugador.mediocampista_derecho %>
			
			<strong>Mediocampista central:</strong>
			  <%= jugador.mediocampista_central %>
			
			<strong>Mediocampista izquierdo:</strong>
			  <%= jugador.mediocampista_izquierdo %>
			
			<strong>Mediapunta derecho:</strong>
			  <%= jugador.mediapunta_derecho %>
			
			<strong>Mediapunta central:</strong>
			  <%= jugador.mediapunta_central %>
			
			<strong>Mediapunta izquierdo:</strong>
			  <%= jugador.mediapunta_izquierdo %>
			
			<strong>Delantero:</strong>
			  <%= jugador.delantero %>
		</div>
    </div> -->
</div>