<h1>Manager 2.0</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Pais</th>
      <th>Club</th>
      <th>Posicion</th>
      <th>Edad</th>
      <th>Habilidad actual</th>
      <th>Altura</th>
      <th>Peso</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @jugador.each do |jugador| %>
      <tr>
        <td><%= jugador.nombre %></td>
        <td><%= jugador.pais %></td>
        <td><%= jugador.club %></td>
        <td><%= jugador.posicion %></td>
        <td><%= jugador.edad %></td>
        <td><%= jugador.habilidad_actual %></td>
        <td><%= jugador.altura %> cm</td>
        <td><%= jugador.peso %> kg</td>
        <td><%= link_to 'Show', jugador %></td>
        <td><%= link_to 'Edit', edit_jugador_path(jugador) %></td>
        <td><%= link_to 'Destroy', jugador, method: :delete, data: { confirm: 'Estás seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Jugador', new_jugador_path %>
