<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @jugador.nombre %>
</p>

<p>
  <strong>Pais:</strong>
  <%= @jugador.pais %>
</p>

<p>
  <strong>Club:</strong>
  <%= @jugador.club %>
</p>

<p>
  <strong>Posicion:</strong>
  <%= @jugador.posicion %>
</p>

<p>
  <strong>Edad:</strong>
  <%= @jugador.edad %>
</p>

<p>
  <strong>Aceleracion:</strong>
  <%= @jugador.aceleracion %>
</p>

<p>
  <strong>Agresividad:</strong>
  <%= @jugador.agresividad %>
</p>

<p>
  <strong>Agilidad:</strong>
  <%= @jugador.agilidad %>
</p>

<p>
  <strong>Anticipacion:</strong>
  <%= @jugador.anticipacion %>
</p>

<p>
  <strong>Balance:</strong>
  <%= @jugador.balance %>
</p>

<p>
  <strong>Valentia:</strong>
  <%= @jugador.valentia %>
</p>

<p>
  <strong>Compostura:</strong>
  <%= @jugador.compostura %>
</p>

<p>
  <strong>Concentracion:</strong>
  <%= @jugador.concentracion %>
</p>

<p>
  <strong>Corners:</strong>
  <%= @jugador.corners %>
</p>

<p>
  <strong>Creatividad:</strong>
  <%= @jugador.creatividad %>
</p>

<p>
  <strong>Centro:</strong>
  <%= @jugador.centro %>
</p>

<p>
  <strong>Decision:</strong>
  <%= @jugador.decision %>
</p>

<p>
  <strong>Determinacion:</strong>
  <%= @jugador.determinacion %>
</p>

<p>
  <strong>Gambeta:</strong>
  <%= @jugador.gambeta %>
</p>

<p>
  <strong>Remate:</strong>
  <%= @jugador.remate %>
</p>

<p>
  <strong>Primer toque:</strong>
  <%= @jugador.primer_toque %>
</p>

<p>
  <strong>Instinto:</strong>
  <%= @jugador.instinto %>
</p>

<p>
  <strong>Cabezazo:</strong>
  <%= @jugador.cabezazo %>
</p>

<p>
  <strong>Influencia:</strong>
  <%= @jugador.influencia %>
</p>

<p>
  <strong>Salto:</strong>
  <%= @jugador.salto %>
</p>

<p>
  <strong>Tiro lejano:</strong>
  <%= @jugador.tiro_lejano %>
</p>

<p>
  <strong>Pase largo:</strong>
  <%= @jugador.pase_largo %>
</p>

<p>
  <strong>Marca:</strong>
  <%= @jugador.marca %>
</p>

<p>
  <strong>Forma fisica natural:</strong>
  <%= @jugador.forma_fisica_natural %>
</p>

<p>
  <strong>Juego sin pelota:</strong>
  <%= @jugador.juego_sin_pelota %>
</p>

<p>
  <strong>Velocidad:</strong>
  <%= @jugador.velocidad %>
</p>

<p>
  <strong>Pases:</strong>
  <%= @jugador.pases %>
</p>

<p>
  <strong>Penales:</strong>
  <%= @jugador.penales %>
</p>

<p>
  <strong>Posicionamiento:</strong>
  <%= @jugador.posicionamiento %>
</p>

<p>
  <strong>Tiros libres:</strong>
  <%= @jugador.tiros_libres %>
</p>

<p>
  <strong>Resistencia:</strong>
  <%= @jugador.resistencia %>
</p>

<p>
  <strong>Fuerza:</strong>
  <%= @jugador.fuerza %>
</p>

<p>
  <strong>Entrada:</strong>
  <%= @jugador.entrada %>
</p>

<p>
  <strong>Trabajo en equipo:</strong>
  <%= @jugador.trabajo_en_equipo %>
</p>

<p>
  <strong>Tecnica:</strong>
  <%= @jugador.tecnica %>
</p>

<p>
  <strong>Sacrificio:</strong>
  <%= @jugador.sacrificio %>
</p>

<p>
  <strong>Porcentaje atajadas:</strong>
  <%= @jugador.porcentaje_atajadas %>
</p>

<p>
  <strong>Unique:</strong>
  <%= @jugador.unique_id %>
</p>

<p>
  <strong>Pierna derecha:</strong>
  <%= @jugador.pierna_derecha %>
</p>

<p>
  <strong>Pierna izquierda:</strong>
  <%= @jugador.pierna_izquierda %>
</p>

<p>
  <strong>Arquero:</strong>
  <%= @jugador.arquero %>
</p>

<p>
  <strong>Libero:</strong>
  <%= @jugador.libero %>
</p>

<p>
  <strong>Lateral derecho:</strong>
  <%= @jugador.lateral_derecho %>
</p>

<p>
  <strong>Defensor central:</strong>
  <%= @jugador.defensor_central %>
</p>

<p>
  <strong>Lateral izquierdo:</strong>
  <%= @jugador.lateral_izquierdo %>
</p>

<p>
  <strong>Carrilero derecho:</strong>
  <%= @jugador.carrilero_derecho %>
</p>

<p>
  <strong>Carrilero izquierdo:</strong>
  <%= @jugador.carrilero_izquierdo %>
</p>

<p>
  <strong>Mediocampista defensivo:</strong>
  <%= @jugador.mediocampista_defensivo %>
</p>

<p>
  <strong>Mediocampista derecho:</strong>
  <%= @jugador.mediocampista_derecho %>
</p>

<p>
  <strong>Mediocampista central:</strong>
  <%= @jugador.mediocampista_central %>
</p>

<p>
  <strong>Mediocampista izquierdo:</strong>
  <%= @jugador.mediocampista_izquierdo %>
</p>

<p>
  <strong>Mediapunta derecho:</strong>
  <%= @jugador.mediapunta_derecho %>
</p>

<p>
  <strong>Mediapunta central:</strong>
  <%= @jugador.mediapunta_central %>
</p>

<p>
  <strong>Mediapunta izquierdo:</strong>
  <%= @jugador.mediapunta_izquierdo %>
</p>

<p>
  <strong>Delantero:</strong>
  <%= @jugador.delantero %>
</p>

<p>
  <strong>Fr:</strong>
  <%= @jugador.fr %>
</p>

<p>
  <strong>Ts rating:</strong>
  <%= @jugador.ts_rating %>
</p>

<p>
  <strong>Fs rating:</strong>
  <%= @jugador.fs_rating %>
</p>

<p>
  <strong>Dc rating:</strong>
  <%= @jugador.dc_rating %>
</p>

<p>
  <strong>Habilidad actual:</strong>
  <%= @jugador.habilidad_actual %>
</p>

<p>
  <strong>Altura:</strong>
  <%= @jugador.altura %>
</p>

<p>
  <strong>Peso:</strong>
  <%= @jugador.peso %>
</p>

<%= link_to 'Edit', edit_jugador_path(@jugador) %> |
<%= link_to 'Back', jugador_index_path %>
